body {
    margin: 0;
}

h1, h2, a {
    text-align: center;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    max-height: -webkit-fill-available;
}

.main .tel-number {
    cursor: pointer;
    font-size: 2em;
    text-decoration: none;
    color: red;
    border: 1px solid red;
    border-radius: 20px;
    padding: 7px;
}

.map {
    height: 400px;
    width: 100%;
}

@media screen and (max-width: 580px) {
    h1, h2, a {
        padding: 0 20px;
    }
}
